h1 {
	background-color: #4aaaa5;
	color: white;
	float: left;
	width: 12%;
	margin-left: 105px;
	margin-right: 450px;
	font-size: 20px;
	padding: 15px 15px 15px 10px;
	text-align: left;
}

h1, h2, h3, h4, p {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h4 {
	color: #4aaaa5;
}

h2 {
	float: left;
	margin-top: 20px;
	clear: left;
	margin-right: 400px;
}

#portfolio {
	margin-left: 100px;
}

h3 {
	float: left;
	padding: 10px;
	color: gray;
	font-size: 16px;
}

p {
	font-size: 15px;
}

.footer {
	background-color: #666666;
	color: #FAF1F1;
	text-align: center;
	bottom: 0px;
	padding: 15px;
	position: fixed;
	width: 100%;
}

html {
	background-color: #CBCACA;
}

.icon {
	width: 40px;
	height: 40px;
}

#connectwithme {
	border: 1px solid gray;
	float: left;
	bottom: 485px;
	padding: 20px;
	position: absolute;
	left: 60%;
	background-color: #FAF4F4;
}

#contact_box {
	margin-left: 100px;
	margin-top: 20px;
	float: left;
	text-align: left;
	position: absolute;
	top: 10%;
	background-color: #FAF4F4;
	padding-left: 5px;
}

#submitbutton {
	background-color: #4aaaa5;
	color: white;
	width: 25%;
	padding: 10px;
}

a {
	text-decoration: none;
}

.message {
	height: 200px;
	width: 250px;
}

.aboutme {
	width: 50%;
	text-align: justify;
	margin-left: 100px;
	display: block;
	background-color: #FAF4F4;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

img {
	float: center;
	width: 150px;
	height: 150px;
}

